<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- указаываем пакет, в котором будет происходить сканирование
        сканирование происходит в этом пакете и во всех ПОДПАКЕТАХ.

        Сканироваени - поиск наличия аннотации (@Component)

        Когда Spring найдет аннотацию @Component он зарегистрирует этот bean
        (и создаст, если это singleton)
     -->
    <context:component-scan base-package="com"></context:component-scan>
    <!--<context:property-placeholder location="classpath:myApp.properties"></context:property-placeholder>
    -->




</beans>
